
*{
    box-sizing: border-box;
}

body{
    /* background: #d3bea74f; */
    background-image: url(https://images.unsplash.com/photo-1544847558-3ccacb31ee7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    margin-top: 75px;
}

#portfolio {
    background: none !important;
}

.portfolioItem{
    color: #FAFAFA;
    background-image: linear-gradient(to bottom, #596a61 50%, #718b7e 70%, #596a61 100%);
}

.portfolioItem:hover{
    background-image: linear-gradient(to bottom, #0d4266 50%, #133c58 70%, #06263b 100%);
    transition: .5s;
}

a{
    color: #FAFAFA;
    text-decoration: underline;
}

.siteLink:hover{
    color: #718b7e;
}

.card-body{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.card-header{
    text-align: center;
    text-decoration: underline;
    font-size: larger;
    background: linear-gradient(to bottom, #af613a 15%, #9d4316 100%);
    color: #F4F4EF;
}

@media(max-width: 768px){

    .portfolioItem{
        margin-top: 10px;
    }
}