*{
    box-sizing: border-box;
}

.jumbotron{
    
    background-image: url(https://images.unsplash.com/photo-1544847558-3ccacb31ee7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:#f4f4ef;
}

h1{
    font-size: 75px;
}

#Name {
    text-decoration: underline !important;
    text-decoration-color: #9d4316 !important;
}

.display-1{
    text-decoration: underline;
    text-decoration-color:#9d4316;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

a{
    color: #FAFAFA;
    text-decoration: underline;
}

p{
    background-color: #10181688;
}

img{
    height: 225px;
    width: 200px;
}